In [2]:
import pandas as pd

In [6]:
dataset={ 'student':['abc','def','frt'],
         'addmission':[2023,2022,2021]}

demo=pd.DataFrame(dataset)
print(demo)

  student  addmission
0     abc        2023
1     def        2022
2     frt        2021

In [7]:
print(pd.__version__)

2.1.4

In [9]:
a=[20,30,40,50]
demo1=pd.Series(a)
print(demo1)

0    20
1    30
2    40
3    50
dtype: int64

In [10]:
demo2=pd.Series(a,index=["m1","m2","m3","m4"])
print(demo2)

m1    20
m2    30
m3    40
m4    50
dtype: int64

In [11]:
print(demo2["m3"])

40

In [12]:
marks={"abc":440,"def":220,"ssd":300}
demo2=pd.Series(marks)
print(demo2)

abc    440
def    220
ssd    300
dtype: int64

In [15]:
demo3=pd.Series(marks,index=["abc","def"])
print(demo3)

abc    440
def    220
dtype: int64

In [17]:
data={"product":["chocolate","puff","wafers"],
      "price":[50,20,10]}
dataFr=pd.DataFrame(data)
print(dataFr)

     product  price
0  chocolate     50
1       puff     20
2     wafers     10

In [18]:
print(dataFr.loc[0])

product    chocolate
price             50
Name: 0, dtype: object

In [19]:
StMarks=pd.read_csv('demoData.csv')
print(StMarks)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi          500             440         NaN    NaN
1     2     Tejasv Modi          500             390         NaN    NaN
2     3  Shreya Acharya          500             400         NaN    NaN
3     4            Uzma          500             400         NaN    NaN
4     5            Diya          500             360         NaN    NaN

In [20]:
print(pd.options.display.max_rows)

60

In [24]:
pd.options.display.max_rows=100
stud_marks=pd.read_csv('demoData.csv')
print(stud_marks)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi          500             440         NaN    NaN
1     2     Tejasv Modi          500             390         NaN    NaN
2     3  Shreya Acharya          500             400         NaN    NaN
3     4            Uzma          500             400         NaN    NaN
4     5            Diya          500             360         NaN    NaN

print(stud_marks.head())

In [3]:
stud=pd.read_csv('demoData.csv')
print(stud)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi        500.0           440.0         NaN    NaN
1     2     Tejasv Modi        500.0           390.0         NaN    NaN
2     3  Shreya Acharya        500.0           400.0         NaN    NaN
3     4            Uzma        500.0           400.0         NaN    NaN
4     5            Diya        500.0           360.0         NaN    NaN
5     6            abcd        600.0           200.0         NaN    NaN
6     7            aaaa        700.0           500.0         NaN    NaN
7     8            abcd          NaN             NaN         NaN    NaN

In [27]:
print(stud.head())

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi          500             440         NaN    NaN
1     2     Tejasv Modi          500             390         NaN    NaN
2     3  Shreya Acharya          500             400         NaN    NaN
3     4            Uzma          500             400         NaN    NaN
4     5            Diya          500             360         NaN    NaN

In [28]:
print(stud.tail())

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
2     3  Shreya Acharya          500             400         NaN    NaN
3     4            Uzma          500             400         NaN    NaN
4     5            Diya          500             360         NaN    NaN
5     6            abcd          600             200         NaN    NaN
6     7            aaaa          700             500         NaN    NaN

In [35]:
print(stud.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SrNo            8 non-null      int64
 1   Name            8 non-null      object
 2   Total Marks     7 non-null      float64
 3   Obtained Marks  7 non-null      float64
 4   Percentage      0 non-null      float64
 5   Grade           0 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 516.0+ bytes
None

In [34]:
new_stud=stud.dropna() #stud.dropna(inplace=True)
print(new_stud)

Empty DataFrame
Columns: [SrNo, Name, Total Marks, Obtained Marks, Percentage, Grade]
Index: []

In [36]:
print(stud)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi        500.0           440.0         NaN    NaN
1     2     Tejasv Modi        500.0           390.0         NaN    NaN
2     3  Shreya Acharya        500.0           400.0         NaN    NaN
3     4            Uzma        500.0           400.0         NaN    NaN
4     5            Diya        500.0           360.0         NaN    NaN
5     6            abcd        600.0           200.0         NaN    NaN
6     7            aaaa        700.0           500.0         NaN    NaN
7     8            abcd          NaN             NaN         NaN    NaN

In [38]:
fill_stud=stud.fillna(111)
print(fill_stud)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi        500.0           440.0       111.0  111.0
1     2     Tejasv Modi        500.0           390.0       111.0  111.0
2     3  Shreya Acharya        500.0           400.0       111.0  111.0
3     4            Uzma        500.0           400.0       111.0  111.0
4     5            Diya        500.0           360.0       111.0  111.0
5     6            abcd        600.0           200.0       111.0  111.0
6     7            aaaa        700.0           500.0       111.0  111.0
7     8            abcd        111.0           111.0       111.0  111.0

In [40]:
stud1=stud["Total Marks"].fillna(555)
print(stud1)

0    500.0
1    500.0
2    500.0
3    500.0
4    500.0
5    600.0
6    700.0
7    555.0
Name: Total Marks, dtype: float64

In [41]:
stud["Total Marks"].fillna(555,inplace=True)
print(stud)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi        500.0           440.0         NaN    NaN
1     2     Tejasv Modi        500.0           390.0         NaN    NaN
2     3  Shreya Acharya        500.0           400.0         NaN    NaN
3     4            Uzma        500.0           400.0         NaN    NaN
4     5            Diya        500.0           360.0         NaN    NaN
5     6            abcd        600.0           200.0         NaN    NaN
6     7            aaaa        700.0           500.0         NaN    NaN
7     8            abcd        555.0             NaN         NaN    NaN

In [48]:
mean=stud["Obtained Marks"].mean()
print(mean)

median=stud["Obtained Marks"].median()
print(f"median:{median}")

mode=stud["Obtained Marks"].mode()
print(f"mode:{mode}")

384.2857142857143
median:400.0
mode:0    400.0
Name: Obtained Marks, dtype: float64

In [5]:
stud.columns

Index(['SrNo', 'Name', 'Total Marks', 'Obtained Marks', 'Percentage', 'Grade'], dtype='object')

In [6]:
print(stud.loc[0:4])

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
0     1      Smit Joshi        500.0           440.0         NaN    NaN
1     2     Tejasv Modi        500.0           390.0         NaN    NaN
2     3  Shreya Acharya        500.0           400.0         NaN    NaN
3     4            Uzma        500.0           400.0         NaN    NaN
4     5            Diya        500.0           360.0         NaN    NaN

In [12]:
stud.sort_values(['Obtained Marks'],ascending=0)

   SrNo            Name  Total Marks  Obtained Marks  Percentage  Grade
6     7            aaaa        700.0           500.0         NaN    NaN
0     1      Smit Joshi        500.0           440.0         NaN    NaN
2     3  Shreya Acharya        500.0           400.0         NaN    NaN
3     4            Uzma        500.0           400.0         NaN    NaN
1     2     Tejasv Modi        500.0           390.0         NaN    NaN
4     5            Diya        500.0           360.0         NaN    NaN
5     6            abcd        600.0           200.0         NaN    NaN
7     8            abcd          NaN             NaN         NaN    NaN

In [19]:
stud['percentage']=(stud['Obtained Marks']/stud['Total Marks'])*100
stud.head(5)

,SrNo,Name,Total Marks,Obtained Marks,Percentage,Grade,percentage
0,1,Smit Joshi,500.0,440.0,NaN,NaN,88.0
1,2,Tejasv Modi,500.0,390.0,NaN,NaN,78.0
2,3,Shreya Acharya,500.0,400.0,NaN,NaN,80.0
3,4,Uzma,500.0,400.0,NaN,NaN,80.0
4,5,Diya,500.0,360.0,NaN,NaN,72.0